<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Retorno 02 Publishers</title>
</head>
<body>
    <h1> Lista de Editoras</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
        </tr>
        <tr th:each="publishers : ${publishers}">
            <td th:text="${publishers.id}"></td>
            <td th:text="${publishers.Name}"></td>
            <td th:text="${publishers.Address}"></td>
        </tr>
    </table>
</body>
</html>

